.logo {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.logo img {
    max-height: 100px;
    max-width: 100%;
}

.form-check-label {
    margin-bottom: 0.5rem;
    display: block;
}

.checkbox-group {
    margin-top: 1rem;
}